.but-white{
  color: #bcbcbc;
  text-decoration: none;
  font-weight: bold;
}

.but-dark{
  color: #797979;
  text-decoration: none;
  font-weight: bold;
}

.active-white{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.active-dark{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.but-white:hover, .active-white:hover{
  color: #fff;
}

.but-dark:hover, .active-dark:hover{
  color: #000000;
}

.proj{
  transition: 0.8s;
  cursor: pointer;
}

.proj:hover{
  transform: scale(110%);
}

video{
  width: 50%;
}

@media (768px <= width < 992px){
  video{
    width: 100%;
  }
}

@media (width < 768px){
  video{
    width: 100%;
  }
  .divVideos{
    max-height: 10%;
    overflow-y: scroll;
  }
}