.but_white{
  color: #bcbcbc;
  text-decoration: none;
  font-weight: bold;
}

.but_dark{
  color: #797979;
  text-decoration: none;
  font-weight: bold;
}

.active_white{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.active_dark{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.but_white:hover, .active_white:hover{
  color: #fff;
}

.but_dark:hover, .active_dark:hover{
  color: #000000;
}

.proj{
  transition: 0.8s;
  cursor: pointer;
}

.proj:hover{
  transform: scale(110%);
}

video{
  width: 50%;
}

.backModal{
  background-size: cover;
  background-position: bottom;
}

.buttonModal, .buttdisabled{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(32, 32, 32, 0.205);
  border-radius: 10px;
  color: rgb(128, 128, 128);
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.1em;
  transition: 0.3s;
  font-weight: 500;
}

.buttonModal:hover{
  color: #fff;
  border: 1px solid #ffffffa4;
}

.iconsModal{
  font-size: 1.5em;
}

.divTitle{
  width: max-content;
}

.opacityText{
  opacity: 0%;
}

.typing{
  overflow: hidden;
  border-right: .1em solid transparent;
  white-space: nowrap;
  animation: typing 1.5s linear, parpaded 2.5s step-end;
}

@keyframes typing{
  0%{width:0;}
  100%{width: 100%;}
}

@keyframes blink-caret{
  from, to{border-color: transparent;}
  50%{border-color: rgb(0, 117, 119);}
}

@keyframes parpaded {
  0%{
    border-color: transparent;
  }
  10%{
    border-color: rgb(0, 117, 119);
  }
  20%{
    border-color: transparent;
  }
  30%{
    border-color: rgb(0, 117, 119);
  }
  40%{
    border-color: transparent;
  }
  50%{
    border-color: rgb(0, 117, 119);
  }
  60%{
    border-color: transparent;
  }
  70%{
    border-color: rgb(0, 117, 119);
  }
  80%{
    border-color: transparent;
  }
  90%{
    border-color: rgb(0, 117, 119);
  }
  100%{
    border-color: transparent;
  }
}

@media (768px <= width < 992px){
  video{
    width: 100%;
  }
}

@media (width < 768px){
  video{
    width: 100%;
  }
  .divVideos{
    max-height: 10%;
    overflow-y: scroll;
  }
}