.bgSkill-Light{
  background-color: rgba(135, 255, 124, 0.661);
  border-radius: 20px;
  box-shadow: 5px 5px 20px;
}

.bgSkill-Dark{
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
  box-shadow: 2px 2px 20px;
}

.lineaColLight{
  border-right: solid rgb(56, 56, 56) 4px;
}

.lineaColDark{
  border-right: solid rgb(239, 239, 239) 4px;
}

.colText{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divSkill, .imgSkill img{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.imgSkill{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pafec{
  position: absolute;
  z-index: 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.598);
  border-radius: 8px;
  color: white;
  padding: 10px 5px;
  margin-top: 15px;
}

.imageS{
  transform: rotateY(360deg);
  filter: blur(5px);
}
