*{
  margin: 0;
  padding: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0f0f0f #cccccc;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #cccccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
    border-radius: 32px;
    border: 1px solid #ffffff;
  }

body{
  overflow-x: hidden !important;
  background-image: url('./assets/bgLight.jpg');
}

.secPrin{
  overflow-x: hidden;
}

.bgLight{
  background-color: rgba(255, 249, 240, 0.351);
}

.bgDark{
  background-color: rgb(26, 26, 26);
}

.bgCardDark{
  background-color: rgb(39, 37, 37);
}

.bgCardLight{
  background-color: rgb(227, 227, 227);
}

.interruptor{
  position: relative;
  width: 80px;
  height: 40px;
  background: #212121;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgb(88, 101, 248);
}

.interruptor input{
  appearance: none;
}

.interruptor span{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  border: 6px solid #212121;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon{
  filter: drop-shadow(0px 0px 4px #fff);
  width: 20px;
  height: 20px;
}

.interruptor input:checked ~ span{
  left: 40px;
  background: #333;
  color: white;
}


