.buttonPDF{
  padding: 0.5em;
  width: auto;
  text-decoration: none;
  color: #fff;
  background-color: rgb(192, 49, 24);
  border-radius: 10px;
  margin-top: 0.2em;
  transition: 0.3s;
}

.buttonPDF:hover{
  background-color: rgba(192, 49, 24, 0.589);;
}