.PadCont{
  width: 100%;
  padding: 0 20px;
}

.RowBgDark{
  background: repeating-linear-gradient(to right, #272525 0%, #272525 65%, #007577 65%, #007577 100%);
}

.RowBgLight{
  background: repeating-linear-gradient(to right, #C8B6A6 0%, #C8B6A6 65%, #8D7B68 65%, #8D7B68 100%);
}

.image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.image img{
  height: 100%;
  position: absolute;
  left: 50%;
}

.paraffDark{
  font-weight: 500;
  background: repeating-linear-gradient(to right, #fff 0%, #fff calc(65% + 5.5px), #000000 calc(65% + 5.5px), #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paraffLight{
  font-weight: 500;
  background: repeating-linear-gradient(to right, #000000 0%, #000000 calc(65% + 5.5px), #fff calc(65% + 5.5px), #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divTitle{
  width: max-content;
}

.opacityText{
  opacity: 0%;
}

.typing{
  overflow: hidden;
  border-right: .1em solid transparent;
  white-space: nowrap;
  animation: typing 1.5s linear, parpaded 2.5s step-end;
}

.typing{
  overflow: hidden;
  border-right: .1em solid transparent;
  white-space: nowrap;
  animation: typing 1.5s linear, parpaded 2.5s step-end;
}

@keyframes typing{
  0%{width:0;}
  100%{width: 100%;}
}

@keyframes parpaded {
  0%{
    border-color: transparent;
  }
  10%{
    border-color: rgb(0, 117, 119);
  }
  20%{
    border-color: transparent;
  }
  30%{
    border-color: rgb(0, 117, 119);
  }
  40%{
    border-color: transparent;
  }
  50%{
    border-color: rgb(0, 117, 119);
  }
  60%{
    border-color: transparent;
  }
  70%{
    border-color: rgb(0, 117, 119);
  }
  80%{
    border-color: transparent;
  }
  90%{
    border-color: rgb(0, 117, 119);
  }
  100%{
    border-color: transparent;
  }
}

@media (width >= 992px){
  .paraffDark{
    font-weight: 500;
    background: repeating-linear-gradient(to right, #fff 0%, #fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .paraffLight{
    font-weight: 500;
    background: repeating-linear-gradient(to right, #000000 0%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}