.secBaner{
  position: relative;
}
.bgBaner{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 100%), url('wallpaperBaner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0px;
}

.containerBaner{
  position: absolute;
  top: 85%;
}

.cardGir{
  background-color:transparent;
  cursor: pointer;
}

.cardGirContenido{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardGir:hover .cardGirContenido{
  transform: rotateY(180deg);
}

.cardGir-frente, .cardGir-trasero{
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bgCardGirDark{
  background-color: #313131;
}

.bgCardGirLight{
  background-color: rgb(24, 224, 238);
}
.cardGir-trasero{
  transform: rotateY(180deg);
}

.selectDiv{
  position: absolute;
  right: 1%;
  top: 2%;
  background-color: #222222be;
  border: solid 1px #fff;
}

.selectLan {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 2px 4px;
}


.selectLan option {
  background-color: #222;
  color: #fff;
  border: none;
}

.linkGoSec{
  width: 100%;
  height: 100%;
}
